.detail{
    img{
        width: 100%;
        height: 100%;
    }
    .product-info-details{
        .product-name-price{
            margin: 20px 0;
            .product-name{
                font-size: 2rem;
                margin-bottom: 24px;
                font-weight: 400;
            }
            .product-price{
                color: #333;
                font-weight: 600;
                font-size: 2.2rem;
                line-height: 1;
            }
           
        }
        ul{
            margin: 40px 0;
            margin-bottom: 25px;
            padding-top: 28px;
            font-weight: 600;
            color: black;
            border-top: 1px solid #ececec;
            li{
                line-height: 22px;
                padding: 5px 0;
                a,span{
                    font-weight: 400;
                    margin-left: 10px;
                    text-transform: capitalize;
                }
            }
        }
        .form-group{
           .add-product-form{
            label{
                text-transform: capitalize;
                font-size: 1.5rem;
                font-weight: 600;
                color: black;
                line-height: 50px;
                margin: 5px;
                margin-left: 0;
            }
            input{
                width: 100px;
                height: 50px;
                text-align: center;
                font-size: 22px;
                color: #333;
                margin: 5px;
                font-weight: 600;
                border: 2px solid #fed100;
                border-radius: 25px;
                background: #fff;
            }
            button{
                margin: 5px 0;
                margin-left: 5px;
                padding: 10px;
                min-width: 250px;
                line-height: 26px;
                text-transform: capitalize;
                width: auto;
                float: left;
                border: 2px solid #fed100;
                background: #fff;
                color: #333;
                border-radius: 25px;
                max-width: 100%;
                font-weight: 600;

            }
           }
        }
        
    }
    .product-reviews{
        margin-bottom: 20px;
    }
    
}