.contact{
    padding: 40px 0;
    form{
        legend{
            display: block;
            width: 100%;
            margin-bottom: 20px;
            line-height: inherit;
            color: #333;
            border: 0;
            border-bottom: 1px solid #e5e5e5;
            font-size: 1.8rem;
            padding: 0.7rem 0;
        }
    }
}