.footer{
    padding: 50px 0;
    border-top: 1px solid #e5e5e5;
    .footer-links{
        .footer-link{
            svg{
                width: 22px;
                height: 22px;
                margin-right: 10px;
            }
        }
    }
}