.modal--header_info{
    margin-top: 15px;
    h3{
        font-weight: 400;
        color: #333;
        font-size: 24px;
    }
    p{
        font-size: 1rem;
        font-weight: 400;
        color: #767676;
    }
}

form {
    label{
        margin-bottom: 5px;
    }
    input{
        margin-bottom: 10px;
    }
    button{
        margin-top: 10px;
    }
    
}